{% extends "bootstrap/base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}
{% block navbar %}
<div class="navbar container">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img alt="Brand" src="https://via.placeholder.com/100x80?text=BLOG">
        </a>
    </div>
</div>
{% endblock %}